/* General styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: #ffffff; /* Changed from #f4f4f4 to pure white */
    color: #333;
}

.container {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background: #708090;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    position: relative;
}

.install-link {
    color: #006eff;
}

nav a {
    margin: 0 10px;
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #FFD700;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #333;
    color: white;
    width: 100%;
}

.main-panel {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 40px;
    flex-wrap: wrap;
}

.panel {
    flex: 1 1 calc(33.333% - 20px);
    margin: 10px;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

.panel h2 {
    background: #0077B6; /* Changed from #708090 to match header color */
    color: white;
    padding: 10px;
    border-radius: 8px 8px 0 0;
    margin: 0;
    text-align: center;
}

.panel-content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.panel-link {
    text-decoration: none;
    color: #333;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card h4 {
    margin-top: 0;
    margin-bottom: 10px;
}

.card p {
    margin: 0;
}
