body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
    color: #333;
    display: flex;
    flex-direction: column;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

header {
    background: #708090;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    position: relative;
}

.install-link {
    color: #006eff;
}

nav a {
    margin: 0 10px;
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #FFD700;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #333;
    color: white;
    width: 100%;
}

.centered-text {
    text-align: center;
    width: 100%;
}

.quote {
    text-align: center;
    font-style: italic;
    margin-top: -10px;
    margin-bottom: 20px;
}

.item-card-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    width: 100%;
    margin-top: 20px;
}

.item-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    padding: 20px;
    width: calc(50% - 20px);
    min-width: 300px;
    max-width: 800px;
    text-align: center;
    margin-bottom: 20px;
    background-color: #333;
    color: white;
    position: relative;
    border: 2px solid rgba(0, 119, 182, 0.6);
    outline: 2px solid #0077B6;
    outline-offset: 4px;
    transition: transform 0.3s ease, box-shadow 0.3s ease, outline 0.3s ease;
}

.item-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    outline: 3px solid #58a6ff;
    outline-offset: 5px;
}

.item-icon {
    width: 80px;
    height: 80px;
    display: block;
    margin: 0 auto;
}

.shiny-icon {
    width: 24px;
    height: 24px;
    vertical-align: middle;
    margin-right: 5px;
}

.stat-row {
    display: flex;
    justify-content: space-between;
    padding: 1px 0;
}

.stat-value, .stat-name, .stat-rate {
    display: inline-block;
}

.stat-value {
    width: 20%;
    text-align: left;
}

.stat-name {
    width: 60%;
    text-align: center;
}

.stat-rate {
    width: 20%;
    text-align: right;
    margin-right: 2px;
}

@media (max-width: 768px) {
    .analysis-bar {
        flex-direction: column;
    }

    .analysis-bar input[type="text"],
    .analysis-bar select,
    .analysis-bar button {
        width: 100%;
        margin: 5px 0;
    }

    .item-card {
        width: 100%;
    }

    #item-simulation-form input[type="text"], #item-simulation-form select {
        width: 100%;
    }
}

#item-simulation-form input[type="text"], #item-simulation-form select {
    padding: 15px;
    margin: 10px 5px;
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#item-simulation-form button {
    padding: 15px 30px;
    background-color: #FFD700; 
    color: #fff;
    border: 1px solid #FFD700;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

#item-simulation-form button:hover {
    background-color: #DAA520;
    transform: scale(1.05);
}

#item-simulation-form button:active {
    transform: scale(0.95);
}

#reroll-button {
    padding: 15px 30px;
    background-color: #32CD32; 
    color: #fff;
    border: 1px solid #32CD32;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

#reroll-button:hover {
    background-color: #228B22;
    transform: scale(1.05);
}

#reroll-button:active {
    transform: scale(0.95);
}

.amplifier-dropdown {
    padding: 10px;
    width: 100px; 
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
}

#suggestions-container {
    position: absolute;
    border: 1px solid #ccc;
    background-color: white;
    max-height: 250px;
    overflow-y: auto;
    width: 250px;
    z-index: 1000;
}

#suggestions-container div {
    padding: 10px;
    cursor: pointer;
}

#suggestions-container div:hover {
    background-color: #b7b7b7;
}

.stat-star {
    font-size: 1.2em; 
    color: #ababab; 
    margin-left: 2px; 
}
